video{
    vertical-align: bottom;
}

.oomatome{
    display: flex;
    flex-wrap: wrap;
}
.sample1{
    padding-left: 0px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 3px;
}